.idea
.idea/php.xml
/docker/db/*
/server/node_modules/*
/server/vendor/*
/server/storage/*


/server/node_modules
/server/public/css
/server/public/hot
/server/public/js
/server/public/storage
/server/public/assets
/server/storage/*.key
/server/vendor
/server/.idea
/server/.vagrant
/server/Homestead.json
/server/Homestead.yaml
/server/npm-debug.log
/server/yarn-error.log
/server/.env
/server/env/.env.develop
/server/env/.env.production
/server/.DS_Store
/server/_ide_helper.php
/server/.docker-sync/
/server/.elasticbeanstalk/

/server/.tags
/server/.tags1

# swagger
/server/storage/api-docs/api-docs.json
